<div style="display: flex; flex-wrap: wrap; justify-content: center;">

  <div class="img-holder">
    <img
    src="{{ site.baseurl }}/assets/headshots/square-{{ person.github }}.png"
    alt="{{ person.first }} {{ person.last }}"
    >
  </div>

  <div style="padding-left: 10px; width: 80%; flex-grow: 1;">
    <span class="h3"> {{ person.nick }} </span>
    | {{ person.institution}}
    | <a name="{{ person.github | replace: "-", "_" }}" href="#{{ person.github | replace: "-", "_" }}">🔗</a>
    | <a href="https://github.com/{{ person.github }}">github</a>
    {% if person.twitter %}
    |  <a href="https://twitter.com/{{ person.twitter }}">twitter</a>
    {% endif %}
    {% if person.href %}
    |  <a href="{{ person.href }}">www</a>
    {% endif %}
    |

    <script>
    function {{ person.github | replace: "-", "_" }}_hide() {
      for (
        element of document.getElementsByClassName('{{ person.github | replace: "-", "_" }}-show')
      ) {
        element.style.display = '';
      }
      for (
        element of document.getElementsByClassName('{{ person.github | replace: "-", "_" }}-hide')
      ) {
        element.style.display = 'none';
      }
      document.getElementById('{{ person.github | replace: "-", "_" }}-bio').style.maxHeight = '3em';
    }
    </script>

    <script>
    function {{ person.github | replace: "-", "_" }}_show() {
      for (
        element of document.getElementsByClassName('{{ person.github | replace: "-", "_" }}-hide')
      ){
        element.style.display = '';
      }
      for (
        element of document.getElementsByClassName('{{ person.github | replace: "-", "_" }}-show')
      ){
        element.style.display = 'none';
      }
      document.getElementById('{{ person.github | replace: "-", "_" }}-bio').style.maxHeight = '';
    }
    </script>

    <a
      href="javascript:;"
      style="writing-mode:vertical-rl;"
      class="{{ person.github | replace: "-", "_" }}-show"
      onclick="{{ person.github | replace: "-", "_" }}_show();"
    > » </a>
    <a
      href="javascript:;"
      style="writing-mode:vertical-rl; display:none;"
      class="{{ person.github | replace: "-", "_" }}-hide"
      onclick="{{ person.github | replace: "-", "_" }}_hide();"
    > « </a>

    <blockquote
      id="{{ person.github | replace: "-", "_" }}-bio"
      style="max-height: 3em; overflow: hidden;"
    >
    {{ person.bio }}
    </blockquote>
    <blockquote
      class="{{ person.github | replace: "-", "_" }}-show"
      style="margin-top: -1em;"
    >
    <a href="javascript:{{ person.github | replace: "-", "_" }}_show();">
    ...
    </a>
    </blockquote>
    <blockquote
      class="{{ person.github | replace: "-", "_" }}-hide"
      style="margin-top: -1em; display: none;"
      onclick="{{ person.github | replace: "-", "_" }}_show();"
    >
    <a href="javascript:{{ person.github | replace: "-", "_" }}_hide();">
    (less about {{ person.first }} {{ person.last }})
    </a>
    </blockquote>
  </div>

</div>
